
/* ------------------ Global Styles ----------------- */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #333333;
  outline: none;
}

button, select {
  cursor: pointer;
}

/* --------------------- Font sizing ---------------- */

html {
  font-size: 62.5%;
}

.menu-tab {
  font-size: 1.8rem;
}

.logo {
  font-size: 4.8rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

button {
  font-size: 1.8rem;
}

select {
  font-size: 1.8rem;
}

label {
  font-size: 1.8rem;
}

input {
  font-size: 1.4rem;
}

.MapView p {
  font-size: 1.7rem;
}

/* ----------------- Sticky Footer ------------------- */

.Login, .Signup, .Main, .SavedPublic {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* ------------------- Main ------------------------ */

.Header {
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  text-align: center;
  background-color: #f0f0f0;
  padding-top: 20px;
}

.img-map {
  width: 80%;
  max-width: 1250px;
  max-height: 90vh;
  margin-bottom: 15px;
}

.img-chart {
  width: 100%;
}

select {
  width: 100px;
  padding: 7px;
  border: 1px solid #999999;
  margin-bottom: 20px;
  border-radius: 3px;
}

.MuiCardContent-root {
  background-color: #f0f0f0;
}

.loading {
  text-align: center;
}

.MapView {
  padding-bottom: 80px;
}

.MapView .map-desc {
  padding: 20px 0;
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}

.MapView h3 {
  margin-bottom: 20px;
}

.MapView .select-year {
  margin: 0 auto;
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* --------------------- Buttons --------------------- */

.btn {
  padding: 10px;
  background-color: #cf5c36;
  border: 2px solid #CF5C36;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  min-width: 90px;
}

.inverse-btn {
  margin-right: 8px;
  color: #CF5C36;
  background-color: white;
}

.username-btn {
  margin-right: 20px;
}

.card-btns {
  margin: 0 auto;
}

/* ----------------- Semantic Ui Menu Tabs----------- */

.ui.inverted.green.menu, .ui.inverted.menu .green.active.item {
  background-color: #859752;
}

.ui.green.menu .active.item {
  border-color: #6D7A48!important;
}

.ui.menu {
  margin-bottom: unset;
}

/* ----------------- Login and Signup pages----------- */

.Login, .Signup {
  padding: 40px 0 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Login *, .Signup * {
  margin-bottom: 10px;
}

.Login form, .Signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login .logo, .Signup .logo {
  margin-bottom: 20px;
}

input {
  width: 300px;
  border: 1px solid #999999;
  padding: 14px;
  border-radius: 3px;
  margin-left: 10px;
}

label {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* --------------------- Footer-------------------- */
footer {
  background-color: #7c816d;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer *, footer *:hover {
  color: #bcbeb2;
}

.footer-data p {
  margin-bottom: 10px;
}

.tm-logo {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
}

.tm-logo sup, .tm-logo strong {
  color: #bcbeb2;
  margin: unset;

}

.data-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.data-group * {
  margin-right: 10px;
}
